<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Update List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        {%load static%}
        <link rel="stylesheet" href="{% static 'functions/css/style.css' %}">
    </head>
    <body>
        <div class="container mt-5">
            <h1>Update Grocery List</h1>
            {% if error %}
            <div class="alert alert-secondary" role="alert">
            <h5 class="alert-heading">{{error}}</h5>
            </div>
            {% endif %}
            <form method="POST">
                <div class="form-group">
                    <label>Item name</label>
                    <input type="text" name="name" id="name" class="form-control" placeholder="Item name" value="{{groceries.name}}"/>
                </div>
                <div class="form-group">
                    <label>Item quantity</label>
                    <input type="text" name="quantity" id="quantity" class="form-control" placeholder="Item quantity" value="{{groceries.quantity}}"/>
                </div>
                <div class="form-group">
                    <label>Item status</label>
                    <select class="form-control" name="status" id="status" value="{{groceries.get_status_display}}">
                        <option value="0">PENDING</option>
                        <option value="1" selected>BOUGHT</option>
                        <option value="2">NOT AVAILABLE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Date</label>
                    <input type="date" name="date" id="date" class="form-control" placeholder="Date" value="{{groceries.date|date:"Y-m-d"}}">
                </div>
                {% csrf_token %}
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-danger">
                </div>
            </form>
        </div>
    </body> 
</html>
