<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Grocery Bag</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

        <style>
            body
            {
                background-color:#F5F5DB;
            }
        </style>
        
    </head>
    <body>
    <h1 style="text-align:center;margin-top:10px;"><u>Grocery Bag</u></h1>
    
    {% block content %}
    {% endblock %}

    </body>

</html>